/node_modules
/public/hot
/public/storage
/v8-compile-cache-0/**
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/css/app.css
public/js/app.js
yarn.lock
composer.lock
package-lock.json
public/js/vendor.js
